/* General styles */
* {
    box-sizing: border-box; /* Ensures padding and border are included in width/height */
    font-family: Arial, sans-serif; /* Ensures a consistent font across elements */
}

.userContainer {
    background-color: #bed3ef;
    color: #ffffff;
    border: 2px solid #8298d0;
    padding: 20px;
    margin: 1.5% auto;
    max-width: 600px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.userCard {
    background-color: #ffffff; /* Light background for contrast */
    color: #333; /* Darker text for better readability */
    border: 1px solid #8298d0;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns text to the left */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Adds subtle shadow for depth */
    width: 100%; /* Ensures all cards are the same width */
}

.userCard > div {
    margin-bottom: 8px; /* Adds margin to each row of information for spacing */
}

.button {
    background: #007BFF;
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    align-self: center; /* Centers the button within the card */
    margin-top: 10px; /* Adds space between the button and the last piece of information */
}
